/*---------------------------------------
  WORK PAGE STYLE                
-----------------------------------------*/
.s-header {
	height: 75vh;
	background: url('../img/pages-pictures/work-bg.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	position: relative;
	overflow: hidden;
	overflow-x: hidden!important;
}
.s-header-shapee {
  position: absolute;
  bottom: 0;
  left: 0;
}
.s-header .middle-c {
    top: 50%;
}
.s-header .middle-c .capt h1 {
	font-weight: 700;
}
.work {
	background: #FFF;
}

.wwu {
	background: url('../img/bg-image-3.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.wwu-overlay {
    background: rgba(17,17,17,.7);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}
.wwu .wwu-txt {
    float: right;
    text-align: right
}
.wwu .wwu-txt h2 {
	font-size: 31px;
	line-height: 38px;
	color: #FFF;
}
.wwu .wwu-txt h2 span {
	font-size: 33px;
	font-weight: 700;
}
.wwu .wwu-btn {
	text-align: left;
}
.wwu .wwu-btn a {
	border: 1px solid #f36c21;
    padding: 12px 60px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    float: left;
    font-weight: bold;
    background-color: #f36c21;
    color: #FFF;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    display: inline-block;
}
.wwu .wwu-btn a:hover {
	background: #FFF;
	color: #f36c21;
	border-color: #FFF;
}





































